body {
  margin : 0;
  font-family: "Karla", Arial;
  background-color:rgb(44, 44, 44);
}

a {
  color: black;
}

a:hover {
  color:rgb(215,215,215);
}

#sidebar a {
  color:black;
  font-weight:900;
}

#sidebar a:hover {
  color:rgb(215,215,215);
}

#sidebar li {
  padding-top:7px;
}

#content ul {
  padding-left: 300px;
}

#content {
  max-width:900px;
}

#circles {
  /* border: 1px solid black; */
  /* width: 695px;
  height: 478px; */
  /* display: inline-block; */
  /*
  height:100%;
  width:100%;
  overflow:hidden;
  z-index:-1;
  position:absolute; */
  position:fixed;
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
  z-index:-1;
}

#main {
  padding-left: 25px;
  padding-top: 10px;
}

#sidebar {
  list-style-type  : none;
  width            : 200px;
  background-color : rgba(216, 216, 216, 0.58);
  font-size        : 15pt;
}

#sidebar-wrapper {
  float:left;
  height:500px;
  margin-right:20px;
}

#footer {
  position: fixed;
  bottom: 10px;
  right:10px;
}

#footer a {
  color: white;
}

.title {
/*  font-weight:900; */
  font-size:40pt;
  color:white
}

.officer h3 {
  margin: 0;
}


.officer h4 {
  margin: 0;
  font-weight:400;
  font-style:italic;
}

div .officer {
  margin: 10px;
}

.content-box {
  background-color: rgba(216, 216, 216, 0.58);
  margin-left: 250px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

