body {
  overflow: hidden;
  margin : 0;
  font-family: "Karla", Arial;
}

a {
  color: black;
}

a:hover {
  color:#888888;
}

#content ul {
  padding-left: 300px;
}

#content {
  max-width:900px;
}

#circles {
  /* border: 1px solid black; */
  /* width: 695px;
  height: 478px; */
  display: inline-block;
  overflow:hidden;
  z-index:-1;
  position:absolute;
}

#main {
  padding-left: 25px;
  padding-top: 10px;
}

#sidebar {
  list-style-type  : none;
  width            : 200px;
  background-color : rgba(100, 100, 100, 0.5);
  font-size:15pt;
}

#sidebar-wrapper {
  float:left;
  height:500px;
  margin-right:20px;
}

#footer {
  position: fixed;
  bottom: 10px;
  right:10px;
}

.title {
/*  font-weight:900; */
  font-size:40pt;
}

.officer h3 {
  margin: 0;
}


.officer h4 {
  margin: 0;
  font-weight:400;
  font-style:italic;
}

div .officer {
  margin: 10px;
}

